<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fluorinefx" version="1.2.4" targetFramework="net452" />
  <package id="FluorineFX.Serialization" version="1.0.2" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  <package id="XStream" version="1.0.44.2" targetFramework="net452" />
</packages>